<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of RIFT Authenticator for Windows.

RIFT Authenticator for Windows is free software: you can redistribute
it and/or modify it under the terms of the GNU General Public License
as published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

RIFT Authenticator for Windows is distributed in the hope that it will
be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
General Public License for more details.

You should have received a copy of the GNU General Public License
along with RIFT Authenticator for Windows.  If not, see
<http://www.gnu.org/licenses/>.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="5DFEFF7F-E05A-4291-BD2B-856607A65E82" Name="RIFT Authenticator for Windows" Language="1033" Version="1.0.5.0" Manufacturer="RIFT Authenticator for Windows Project" UpgradeCode="7336F679-35B0-4BF6-8708-82FBC9E29095">
		<Package InstallerVersion="200" Compressed="yes" />

    <MediaTemplate CabinetTemplate="media{0}.cab" EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="RiftAuthenticator">
				</Directory>
			</Directory>
		</Directory>

    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="AppWpf" Guid="AF2B4E13-A46F-4E5F-BB03-BB09B3E7B402">
        <File Id="RiftAuthenticator.exe" Source="RiftAuthenticator.exe" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="AppWinForms" Guid="B15A5FA5-F78A-448B-8397-5ED08B2BE267">
        <File Id="RiftAuthenticator.WinForms.exe" Source="RiftAuthenticator.WinForms.exe" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="AppConsole" Guid="294A6D37-B0B9-4D44-8E44-CDB1CDC88736">
        <File Id="RiftAuthenticator.CommandLine.exe" Source="RiftAuthenticator.CommandLine.exe" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="AppLibs" Guid="55B45E23-9253-4854-9126-A39038BBB690">
        <File Id="RiftAuthenticator.Library.dll" Source="RiftAuthenticator.Library.dll" KeyPath="yes" Checksum="yes" />
      </Component>
    </DirectoryRef>

		<Feature Id="FeatureAppWpf" Title="RIFT Authenticator (WPF)" Level="1">
			<!-- TODO: Remove the comments around this ComponentRef element and the Component above in order to add resources to this installer. -->
			<ComponentRef Id="AppWpf" />
      <ComponentRef Id="AppLibs" />
			
			<!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
			<ComponentGroupRef Id="Product.Generated" />
		</Feature>

    <Feature Id="FeatureAppWinForms" Title="RIFT Authenticator (WinForms)" Level="1">
      <!-- TODO: Remove the comments around this ComponentRef element and the Component above in order to add resources to this installer. -->
      <ComponentRef Id="AppWinForms" />
      <ComponentRef Id="AppLibs" />

      <!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
      <ComponentGroupRef Id="Product.Generated" />
    </Feature>

    <Feature Id="FeatureAppConsole" Title="RIFT Authenticator (Console)" Level="1">
      <!-- TODO: Remove the comments around this ComponentRef element and the Component above in order to add resources to this installer. -->
      <ComponentRef Id="AppConsole" />
      <ComponentRef Id="AppLibs" />

      <!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
      <ComponentGroupRef Id="Product.Generated" />
    </Feature>
  </Product>
</Wix>
