<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="default-platform" value="windows"/>
    <!-- possible values: registry, fs, is -->
    <add key="default-account-manager" value="registry"/>
    <!-- <add key="default-account" value="0"/> -->
    <!-- possible values: default, user, app -->
    <add key="account-manager-fs-path" value="app" />
  </appSettings>
</configuration>